aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
click
fastapi
h11
idna
multidict
nest-asyncio
pydantic
python-graphql-client
requests
soupsieve
starlette
typing-extensions
urllib3
uvicorn
websockets
yarl